html {
  font-size: 15px;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header-block {
  display: flex;
  flex-direction: row;
  margin: 0 0.9rem;
  margin-top: 0.8rem;
  border-bottom: 1px solid rgb(239 239 239);
  padding-bottom: 0.8rem;
}

.path-block {
  display: flex;
  flex: 1;
  margin: 0.3rem 0;
  align-items: center;
}

.path-icon {
  background: #c4bebe;
  border-radius: 0.7rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3rem;
  height: 1.4rem;
  width: 1.4rem;
  color: white;
  font-weight: 900;
  font-size: 0.9rem;
  margin-right: 0.4rem;

}

.path-ele {
  text-decoration: underline;
  text-decoration-color: rgb(229 220 220);
}

.path-separator {
  margin: 0 0.2rem;
  color: rgb(229 220 220);
}

.search-result-block {
  flex: 1;
}

.search-block {
  display: flex;
}

.search-ele {
  border-radius: 0.4rem;
  border: 1px solid rgb(229 215 215);
  padding: 0 0.5rem;
  padding-left: 1.7rem;
}

.search-block svg {
  position: absolute;
  width: .8rem;
  fill: #948a8a;
  padding: .6rem .6rem;
}

.doc-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  position: relative;
  gap: 1rem;
}

.doc-ele {
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;
}

.doc-ele img {
  max-height: 5rem;
}

.doc-name{
  font-size: .8rem;
  color: #464343;
}

.doc-create{
  align-self: center;
}

.option-block{
  display: flex;

}

.doc-outside{
  display: flex;
}

.doc-creation-block{
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.doc-head-block{
  display: flex;
  flex-direction: row;
  min-width: 15rem;
}

.doc-head-block h4{
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin: .6rem;
}

.doc-head-block span{
  font-size: 1.5rem;
}

.doc-choose-block{
  display: flex;
  align-self: center;
  margin-top: .8rem;
  min-width: 8rem;
  border-radius: 2px;
}

.doc-choose-block span{
  font-size: .8rem;
  flex: 1;
  text-align: center;
  vertical-align: middle;
  height: 1.7rem; 
  line-height: 1.7rem; 
  border: 1px solid rgb(211, 201, 201);
}

.doc-choose-block span:nth-child(1){
  border-top-left-radius: .5rem ;
  border-bottom-left-radius: .5rem ;
}

.doc-choose-block span:nth-child(2){
  border-top-right-radius: .5rem ;
  border-bottom-right-radius: .5rem ;
  border-left: none ;
}

.doc-choose-block .active{
  background: #4ab7ff;
  border: none;
}

.doc-input-ele{
  padding: .4rem;
  border-radius: .5rem ;
  border: 1px solid rgb(211, 201, 201);
  margin-top: 1.5rem;
}

.doc-input-msg{
  font-size: .6rem;
  margin-left: .2rem;
}

.doc-create-btn{
  margin-top: .8rem;
  padding: .5rem;
  border-radius: .5rem ;
  background-color: #4ab7ff;
  border: none;
}

